* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home4-section {
    background-color: #000713;
    padding: 60px 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.home4-container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.home4-title {
    font-size: 48px;
    font-weight: 800;
    color: #1a5bff;
    margin-bottom: 20px;
}

.home4-description {
    font-size: 20px;
    color: #d1d5db;
    margin-bottom: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.home4-card {
    background-color: #000713;
    color: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 40px;
    border: 2px solid #1a5bff;
    box-shadow: 0 4px 12px #1a5bff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.home4-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 24px rgba(26, 91, 255, 0.3);
}

.home4-card-title {
    font-size: 24px;
    font-weight: 100;
    color: white;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home4-toggle-btn {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.home4-card-description {
    font-size: 16px;
    color: #d1d5db;
    line-height: 1.6;
    max-height: 0; /* Initially hide content */
    opacity: 0;    /* Initially hide content */
    overflow: hidden; /* Hide overflow */
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.home4-card.show-description .home4-card-description {
    max-height: 500px;  /* Enough height to fit the content */
    opacity: 1;
}

/* For values list */
.home4-values-list {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    color: #d1d5db;
    max-height: 0; /* Initially hide the list */
    overflow: hidden;
    opacity: 0;    /* Initially hide content */
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.home4-card.show-description .home4-values-list {
    max-height: 200px;  /* Adjust this value based on list size */
    opacity: 1;
}

/* Responsive styles for devices */
@media (max-width: 1024px) {
    .home4-title {
        font-size: 40px;
    }

    .home4-description {
        font-size: 18px;
    }

    .home4-card-title {
        font-size: 22px;
    }

    .home4-card-description {
        font-size: 15px;
    }

    .home4-values-list {
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .home4-section{
        padding:40px 20px;
    }
    .home4-title {
        font-size: 32px;
    }

    .home4-description {
        font-size: 16px;
    }

    .home4-card-title {
        font-size: 20px;
    }

    .home4-card-description {
        font-size: 14px;
    }

    .home4-values-list {
        font-size: 14px;
    }
}
