* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home {
    background-color: #000713;
    height: auto;
}

.Home-have-a-text-about-us {
    padding: 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Home-have-a-text-about-us > p {
    color: white;
    font-size: 35px;
    font-weight: 100;
    font-family: Montserrat, sans-serif;
    line-height: 60px;
}

.Home-have-a-text-about-us > p > span {
    color: rgb(37, 106, 255);
}

.Home-have-a-text-about-us-img > img {
    border-radius: 50px;
    box-shadow: 0px 0px 60px rgb(37, 106, 255);
    width: 400px;
    /* max-width: 100%; */
}
@media (max-width: 1700px) {
    .Home-have-a-text-about-us > p {
        text-align: center;
        font-size: clamp(0px, 3.7vw, 25px);
        line-height: clamp(0px, 6vw, 50px);
    }
    .Home-have-a-text-about-us {
        display: block;
    }
    .Flex-to-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Home-have-a-text-about-us-img > img {
        border-radius: 17%;
        box-shadow: 0px 0px 60px rgba(37, 106, 255, 0.7); /* Slightly transparent shadow */
        width: 400px;
        max-width: 95%;
        margin-top: 50px;
    }
    .Home-have-a-text-about-us-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}