/* Footer umumiy stil */
.footer {
    background-color: #000713;
    color: white;
    padding: 100px 20px 30px;
    font-family: 'Montserrat', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.phone-link {
    color: #1a5bff;
    text-decoration: none;
}

/* Footer Brand */
.footer-brand h2 {
    font-size: 28px;
    color: #1a5bff;
    margin-bottom: 10px;
}

.footer-brand p {
    font-size: 16px;
    max-width: 300px;
    line-height: 25px;
    color: #ccc;
}

/* Footer Links */
.footer-links h4,
.footer-contact h4 {
    color: #1a5bff;
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 20px 0;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-links  a {
    color: white;
    line-height: 30px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #1a5bff;
}

/* Footer Contact */
.footer-contact p {
    margin: 15px 0;
    color: #ccc;
}

/* Social Icons */
.footer-socials {
    margin-top: 20px;
    display: flex;
    gap: 35px;
}

.footer-socials a {
    color: white;
    font-size: 25px;
    transition: color 0.3s ease;

}

.footer-socials a:hover {
    color: #1a5bff;
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #888;
    border-top: 1px solid #1a5bff33;
    padding-top: 20px;
}

/* Tablet and below (768px and below) */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    .footer-brand, .footer-links, .footer-contact {
        width: 100%;
        text-align: center;
    }

    .footer-socials {
        justify-content: center;
        gap: 35px;
        margin-top: 30px;
    }

    .footer {
        padding: 60px 15px 30px;
    }

    .footer-brand h2 {
        font-size: 27px;
    }

    .footer-links h4,
    .footer-contact h4 {
        font-size: 27px;
    }
    .footer-contact p {
        font-size: 17px;
    }

    .footer-socials a {
        font-size: 25px;
    }
}

/* 480px va undan kichik ekranlar uchun */
@media (max-width: 480px) {
    .footer {
        padding: 50px 10px 10px;
    }

    .footer-container {
        gap: 20px;
    }

    .footer-brand h2 {
        font-size: 25px;
    }

    .footer-links ul li a {
        font-size: 12px;
        
    }

    .footer-contact p {
        font-size: 17px;
        margin-top: 20px;
    }
    .footer-contact h4 {
        /* font-size: 17px; */
        margin-top: 20px;
    }

    .footer-socials a {
        font-size: 25px;
    }
}

/* 360px va undan kichik ekranlar uchun */
@media (max-width: 360px) {
    .footer {
        padding: 15px ;
        padding-top: 50px;
    }

    .footer-brand h2 {
        font-size: 18px;
    }
    .footer-brand p {
        font-size: 16px;
    }

    .footer-links h4,
    .footer-contact h4 {
        font-size: 20px;
    }

    .footer-links ul li a {
        font-size: 10px;
    }

    .footer-contact p {
        font-size: 15px;
    }

    .footer-socials a {
        font-size: 20px;
    }
}

/* 930px va undan kichik ekranlar uchun footer-links ni yashirish */
@media (max-width: 930px) {
    .footer-links {
        display: none;
    }
}
